In [68]:
# reading the file
import pandas as pd
data = pd.read_csv("Data.csv")

In [69]:
# cleaning the data
# making the values of the as float from intger.  
data["ARAI_Certified_Mileage_kmpl"].astype(float)

0         NaN
1        8.00
2       12.90
3       20.38
4       20.38
        ...
1271    13.80
1272    23.00
1273    23.00
1274    13.51
1275    18.18
Name: ARAI_Certified_Mileage_kmpl, Length: 1276, dtype: float64

In [70]:
filter_p = data[data["Ex-Showroom_Price"].isin(range(100000, 1000000))]
# filter_price

In [71]:
filter_b_p = filter_p[filter_p["Make"] == "Tata"]
# filter_brand

In [72]:
filter_b_p_t = filter_b_p[filter_b_p["Fuel_Type"]  == "Petrol"]
# filter_type

In [73]:
filter_b_m_p_t = filter_b_p_t[filter_b_p_t["ARAI_Certified_Mileage_kmpl"].isin(range(10, 30))]

In [74]:
filter_b_m_p_t.sort_values("Ex-Showroom_Price").head()

,Unnamed: 0,Make,Model,Variant,Ex-Showroom_Price,Displacement,Cylinders,Valves_Per_Cylinder,Drivetrain,Cylinder_Configuration,...,Leather_Wrapped_Steering,Automatic_Headlamps,Engine_Type,ASR_/_Traction_Control,Cruise_Control,USB_Ports,Heads-Up_Display,Welcome_Lights,Battery,Electric_Range
973,54,Tata,Tiago,Revotron Xe,460000,1199 cc,3.0,4.0,FWD (Front Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
974,55,Tata,Tiago,Revotron Xt,520000,1199 cc,3.0,4.0,FWD (Front Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
989,430,Tata,Altroz,Xe Petrol,529000,1199 cc,3.0,4.0,FWD (Front Wheel Drive),In-line,...,NaN,NaN,1.2 L Revotron (BS VI),NaN,NaN,NaN,NaN,NaN,NaN,NaN
975,56,Tata,Tiago,Revotron Xz,570000,1199 cc,3.0,4.0,FWD (Front Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,451,Tata,Tigor,Revotron Xe,575000,1199 cc,3.0,4.0,FWD (Front Wheel Drive),In-line,...,NaN,NaN,Revotron 1.2 L BS6 Engine,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [79]:
# final function

# reading the file
import pandas as pd
main_data = pd.read_csv("Data.csv")

# cleaning the data
# making the values of the as float from intger.  
main_data["ARAI_Certified_Mileage_kmpl"].astype(float)


#writing the main function
def cars(cost, brand, milege, p_d_cng, seating, data=main_data):
    filter_p = data[data["Ex-Showroom_Price"].isin(range(cost[0],cost[1]))]
    filter_b_p = filter_p[filter_p["Make"] == brand]
    filter_b_p_t = filter_b_p[filter_b_p["Fuel_Type"]  == p_d_cng]
    filter_b_m_p_t = filter_b_p_t[filter_b_p_t["ARAI_Certified_Mileage_kmpl"].isin(range(milege[0], milege[1]))]
    filter_b_m_p_s_t = filter_b_m_p_t[filter_b_m_p_t["Seating"] == seating]
    filter_b_m_p_s_t.sort_values("Ex-Showroom_Price").head()
    return filter_b_m_p_s_t